<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Сумма чисел</title>
</head>
<body>
    <h2>Сервис классификации изображений рад видеть вас.</h2>
    <form action="/send" method="post" enctype="multipart/form-data">
        <p>
            <label>Ваше имя:</label><br>
            <input type="text" name="name" required>
        </p>
        <p>
            <label>Файл (.jpeg или .png):</label><br>
            <input type="file" name="file" accept=".jpeg,.png" required>
        </p>
        <p>
            <button type="submit">Классифицировать изображение</button>
        </p>
    </form>
    <hr>
    <small>Мы будем вас рады видеть снова на нашем сайте</small>
</body>
</html>